
/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333333;
}

ul {
    list-style: none;
}

a {
    color: #333333;
    text-decoration: none;
}

p {
    margin: 20px 0;
}

/* Buttons */
.btn {
    cursor: pointer;
    padding: 10px 30px;
    color: #ffffff;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: coral;
    color: #ffffff;
}

.btn-secondary {
    background-color: #ffffff;
    color: coral;
}

/* Backgrounds */

.bg-primary {
    background-color: coral;
}

/* Header */
header {
    background: url('https://picsum.photos/1600/1200') no-repeat center center/cover;
    height: 100vh;
    color: #ffffff;
    position: relative;
}

header .showcase {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

header .showcase h1 {
    font-size: 3rem;
}

header .showcase p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 20px 30px;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

header * {
    z-index: 10;
}

.navbar {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    width: 100%;
    z-index: 11;
}

.navbar .logo {
    color: coral;
    font-weight: 400;
    font-size: 1.4rem;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar ul a:hover {
    color: coral;
}

/* Services Section */
#services {
    padding: 0 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.service {
    padding: 30px;
    flex: 1;
}

.service .icon {
    padding: 30px;
}

.service .icon i {
    background-color: coral;
    color: #ffffff;
    padding: 1rem;
    border-radius: 50%;
}

/* About Us */

#about-us {
    display: flex;
}

#about-us .col {
    flex: 1;
}

#about-us .col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-us .content {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 20px 30px;
}

#about-us .content h3 {
    font-size: 1.8rem;
}

#about-us .content p {
    margin: 30px 0;
}

footer {
    background-color: gray;
    color: #ffffff;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}